{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 49, "knowledge_revision": 104, "git_revision": "", "hash": "4165b7e16eec2db8f05d4ed393e51cf8", "format-version": 4, "code-base-name": "default", "filename": "student_registration_backend_workspace/student_registration_backend/requirements.txt", "revision_history": [{"104": ""}]}